/*背景图*/
.c_background {
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
	position: absolute;
}


.c_background_top {
	width: 100%;
	height: 71.6%;
	background-image: url("images/background/c_background_top.png");
	background-size: 100% 100%;
}

.c_background_middle {
	width: 100%;
	height: 13.1%;
	background-image: url("images/background/c_background_middle.png");
	background-size: 100% 100%;
}

.c_background_bottom {
	width: 100%;
	height: 15.3%;
	background-image: url("images/background/c_background_bottom.png");
	background-size: 100% 100%;
}

/*小女孩*/
.girl {
	background: url("images/girl.png") -755px -0px no-repeat;
	position: absolute;
	right: 40%;
	top: 37%;
	width: 151px;
	height: 291px;
}

/*桥*/
.bridge-bottom {
	position: absolute;
	width: 41%;
	height: 24%;
	left: 29.5%;
	top: 76%;
	overflow: hidden;
}

/*波浪布局*/
.water {
	width: 100%;
	height: 100%;
}

.water_1, .water_2, .water_3, .water_4 {
	width: 100%;
	position: absolute;
	height: 50%
}


.water_1 {
	width: 131px;
	height: 15px;
	top: 13%;
	left: 35%;
	background: url("images/water.png") -261px -0px no-repeat;
}

.water_2 {
	width: 161px;
	height: 9px;
	top: 30%;
	left: 45%;
	background: url("images/water.png") -693px -0px no-repeat;
}

.water_3 {
	width: 261px;
	height: 29px;
	top: 50%;
	left: 15%;
	background: url("images/water.png") -0px -0px no-repeat;
}

.water_4 {
	width: 301px;
	height: 12px;
	top: 75%;
	left: 30%;
	background: url("images/water.png") -392px -0px no-repeat;
}

/*星星*/
.star {
	width: 100%;
	height: 100%;
	position: absolute;
}

.star > li {
	position: absolute;
	width: 30px;
	height: 31px;
	background-image: url("images/stars.png");
}

.star1 {
	top: 20%;
	left: 30%;
}

.star2 {
    top: 15%;
    left: 20%;
}

.star3 {
    top: 25%;
    left: 85%;
}

.star4 {
    top: 30%;
    left: 70%;
}

.star5 {
    top: 25%;
    left: 20%;
}

.star6 {
    top: 10%;
    left: 65%;
}